@model MyProject2.Web.Models.ProductListViewModel
@{
    ViewData["Title"] = "ProductList";
}

<h2>ProductList</h2>

<div class="row">
    <div>
        <ul class="list-group" id="ProductList">
            @foreach (var product in Model.ProductDtos)
            {
            <li class="list-group-item">
                <span class="pull-right label-lg">$@product.Price</span>
                <h4 class="list-group-item-heading">@product.Name</h4>
                <div class="list-group-item-text">
                    @product.GroupName
                </div>
            </li>
            }
        </ul>
    </div>
</div>

